<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <!-- File Directory -->
    <add key="LogFileDirectory" value="D:\GITHUB" />
    
    <!-- Exception Messages -->
    <add key="NoDestinyToLog" value="Invalid configuration" />
    <add key="NoLogType" value="Error or Warning or Message must be specified" />
    <add key="ErrorLoggingDB" value="An error occurred while logging to database" />
    <add key="ErrorLoggingIO" value="An error occurred while logging to file" />
    
  </appSettings>

  <connectionStrings>

    <add name="DbSolucion" providerName="System.Data.SqlClient"
         connectionString="Server=.; Database=DbSolucion; Integrated Security=true;" />
    
  </connectionStrings>
  
</configuration>